*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
  --color-text: #fff;
}

.text-secondary {
  color: var(--color-secondary);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: #fff;
  overflow-x: hidden;
}

header,
footer {
  padding: 20px 0;
}

header {
  background-color: #000000cc;
}

footer {
  margin-top: 25px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

header .container,
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.logo {
  color: var(--color-text);
  font-size: 25px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
  column-gap: 20px;
}

li {
  color: var(--color-text);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

ul li a {
  font-size: 16px;
}

ul li a:hover {
  color: var(--color-secondary);
}

.social-links {
  display: flex;
  column-gap: 10px;
  font-size: 20px;
}

section.now-playing {
  padding: 80px;
  background: url(../images/showcase-bg.jpg) no-repeat center/cover;
  /* text-align: center; */
}

section h2 {
  text-align: center;
  margin: 20px 0;
}

.search .container {
  margin: 40px auto;
  padding: 0;
  width: 70%;
}

.search .search-radio {
  display: flex;
}

.search-radio label {
  margin-right: 15px;
}

.search-flex {
  display: flex;
  column-gap: 10px;
  margin-top: 3px;
}

.search-flex input {
  padding: 10px;
  border-radius: 5px;
  border-color: #c1c1c1;
  background-color: transparent;
  color: var(--color-text);
  width: 100%;
}

button {
  background-color: var(--color-secondary);
  width: 80px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Card */
.card {
  background: #04376b;
  padding: 5px;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

/* Movie details */

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: white;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
}

.details-top img {
  width: 400px;
  height: 100%;
  margin-right: 60px;
  object-fit: cover;
}

.details-top p {
  margin: 20px 0;
}

.details-top .btn {
  margin-top: 20px;
}

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

/* search results */

.search {
  padding: 60px;
}

.pagination {
  margin-top: 20px;
}

.page-counter {
  margin-top: 10px;
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.alert {
  background: red;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: 700;
}

#search-results-heading {
  text-transform: uppercase;
}
/* swiper */

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-rating {
  text-align: center;
  padding: 10px;
}
